@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(3, 106, 161, 0.596);
  }

  @media (prefers-color-scheme: dark) {
    .text-edge-outline {
      -webkit-text-stroke: 1px rgba(255,255,255,0.3);
    }
  }
}
